.FooterContent {
    // display: flex;
    width: 100%;
    .container {
        width: 100%;
        .nav-left{
            width: 100%;
        }
    }
}
.EditorButton {
    align-content: center;
    margin-right: 10px;
    text-align: center;
}
.NavBarLeft {
    align-items: center;
}